 * {
            box-sizing: border-box;
            font-family: Arial, sans-serif;
        }
        
        body {
            background-color: #f5f5f5;
            margin: 0;
            padding: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 95vh;
        }
        
        .container {
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            padding: 30px;
            width: 90%;
            max-width: 500px;
        }
        
        h1 {
            color: red;
            text-align: center;
            margin-bottom: 10px;
        }
        
        .description {
            text-align: center;
            color: greenyellow;
            margin-bottom: 25px;
        }
        
        .form-group {
            margin-bottom: 15px;
        }
        
        .form-row {
            display: flex;
            gap: 15px;
        }
        
        .form-row .form-group {
            flex: 1;
        }
        
        label {
            display: block;
            margin-bottom: 5px;
            font-weight: bold;
            color: goldenrod;
        }
        
        input[type="text"],
        input[type="email"],
        input[type="tel"],
        select,
        textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            font-size: 16px;
            color: teal;
        }
        
        textarea {
            height: 100px;
            resize: vertical;
        }
        
        hr {
            border: none;
            border-top: 1px solid #eee;
            margin: 20px 0;
        }
        
        .checkbox-group {
            display: flex;
            align-items: center;
            margin-bottom: 25px;
            margin-left: 35px;
        }
        
        .checkbox-group input {
            margin-right: 10px;
        }
        
        .submit-btn {
            background-color: yellow;
            color: blue;
            border: none;
            padding: 12px 20px;
            border-radius: 10px;
            cursor: pointer;
            font-size: 18px;
            font-weight: bold;
            width: 60%;
            transition: background-color 0.3s;
            display: block;
            margin: 0 auto;
           
        }
        
        .submit-btn:hover {
            background-color: #45a049;
        }
        
        @media (max-width: 600px) {
            .form-row {
                flex-direction: column;
                gap: 0;
            }
        }